.topTag {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f5f0;

  .container {
    padding-left: 110px;
  }

  button.active {
    border-bottom: 2px solid #aa3846 !important;
  }

  button {
    margin: 10px 20px;
    border-radius: 0 !important;
    padding: 0;
    padding-right: 0;
    border-bottom: 2px solid #fff0;
    text-transform: uppercase;
    font-weight: 550;
    // font-size: 17px;
  }



}