.card{
  width: 33.33%;
  padding: 15px;

  .avatar{
    background-color: #f44336;
  }
  .go{
    margin-left: auto;
  }
  .expandOpen{
    transform: 'rotate(180deg)';
  }
  .expand{
    transform: 'rotate(0deg)';
    margin-left: 'auto';
   
  }

  .media {
    // height:  200px;
    padding-top: 56.25%;
  }

}