.container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;

  .px15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .py30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .img {
    width: 100%;
    max-width: 700px;
  }

  .textTitle {

    h3 {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.167;
      letter-spacing: 0em;
      font-size: 50px;
      margin: 15px 0 70px;
    }
  }

  .textContent {

    h3 {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 0em;
      font-size: 18px;
      margin: 15px 0 30px;
      color: #6f6f6f;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
  }

  ul {
    button {
      color: #363636;
      margin-right: 10px;
      font-size: 13px;
    }
  }

}